
/*
TODO

Clean up styling on all pages (uniform, responsive)

*/


/*Main page*/

#main-header-container h1 {
    font-family: 'Brush Script MT', cursive;
    font-size: 52px;
}

#main-header-container{
    border-style: solid;
    position:absolute;
    height: 19%;
    width: 100%;
    top: 0;
    text-align: center;
    align-content: center;
    background-color: bisque;
}

#main-body-container{
    height: 80%;
    width: 100%;
    position: absolute;
    bottom: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #5D4E4A;
}

#mbc-login-button{
    margin-bottom: 12%;
    width: 20%;
    height: 8%;
    border-radius: 24px;
    position: absolute;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#mbc-login-button:hover{
    background-color: lightblue;
    box-shadow: 8px 8px 3px 2px #888888;
}

#main-about-link{
margin-top: 12%;
font-size: 28px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
color:azure;
}



/*About Me page*/

#aboutMe-body{
    background-color: #5D4E4A;
}

#text-container p, h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#navigation-container a {
   /* border-color: black; 
    border-style: solid; */
    margin-left: 2em;
    margin-bottom: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: azure;
}

#navigation-container{
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 2em;
}

#content-container{
  /*  border-style: solid;
    border-color: black; */
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
}

#space-container{
 /* border-color: blue;
    border-style: dashed; */
    width: 50%;
    height: 20%;
    bottom: 80%;
    position: absolute;
}

#photo-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-style: solid;
}

#photo-container{
   /* border-style: solid;
    border-color: red; */
    position: relative;
    width: 50%;
    height: 80%;
    top: 20%;
    padding-right: 14px;
    padding-bottom: 12px;
}

#text-container{
 /*   border-style: solid;
    border-color: green; */
    position: relative;
    width: 50%;
    height: 100%;
}

#title-container{
 /*    border-style: solid;
    border-color: yellow; */
    align-content: center;
    text-align: center;
    height: 20%;
    font: oblique 36px "Garamond", serif;
}

#text-body-container{
 /*    border-style: solid;
    border-color: purple; */
    height: 60%;
}

#links-container img {
    width: 10%;
    height: 30%;
    margin: 40px;
}

#links-container{
 /*    border-style: solid;
    border-color: palegreen; */
    height: 18%;
    text-align: center;

}

/* Login Page */

#login-header-container{
    background-color: bisque;
    position: absolute;
    height: 19%;
    width: 100%;
    text-align: center;  
}

a {
    color: #5D4E4A;
}


#login-header-title-container{
    position: absolute;
    justify-items: center;
    text-align: center;
    border-style: solid;
    bottom: 0;
    width: 100%;
}

#login-header-title-container h1 {
    font-family: 'Brush Script MT', cursive;
    font-size: 52px;
}

#login-main-container{
    position: absolute;
    height: 80%;
    width: 100%;
    bottom: 0;
    background-color: #5D4E4A;
    color:azure;
    display: flex;
}

#login-main-content-container{
    position: relative;
    margin: auto;
}

#login-main-content-container input{
    margin-top: 10%;
}

#login-main-content-username-container{
    margin-bottom: 25%;
}

#login-main-content-password-container{
    margin-bottom: 25%;
}

#login-main-content-create-account-container{
    margin-top: 2%;
}

#login-main-content-create-account-container a {
    color:azure;
}

/*Create Account Page*/

#create-account-body-container {
    position: relative;
    width: 960px;
    height: 1024px;
    background-color: bisque;
}

#create-account-nav-bar-container {
    position: relative;
   /* border-style: solid; */
    text-align: center;
    width: 100%;
    background-color: bisque;
    color:#5D4E4A;
}

#create-account-header-container {
    position: relative;
  /*  border-style: solid; */
    text-align: center;
    width: 100%;
    background-color: bisque;
}

#create-account-main-body-container {
    position: relative;
  /*  border-style: solid; */
    height: 100%;
    width: 100%;
    background-color: #5D4E4A;
}

#create-account-main-body-inputs-container{
   /* border-style: solid; */
    width: 100%;
    height: 50%;
    margin-top: 15px;
    color: azure;
}

#create-account-main-body-inputs-container input, label{
    position:relative;
    text-align: center;
    margin: auto;
    display: block;
    margin-bottom: 10px;
}

#create-account-main-body-submit-container {
    /* border-style: solid; */
    position: relative;
    text-align: center;
    margin-top: 12px;
    width: 100%;
    height: 20%;
}

#create-account-main-body-submit-container button {
    border-radius: 7px;
    height: 30px;
    width: 100px;
    margin: auto;
}

#cambic-first-name-container{
    margin-top: 25px;
    margin-bottom: 25px;
    padding-top: 50px;
}

#cambic-last-name-container{
    margin-bottom: 25px;
}

#cambic-email-container{
    margin-bottom: 25px;
}

#cambic-username-container{
    margin-bottom: 25px;
}

#cambic-password-container{
    margin-bottom: 25px;
}

/*Forgot Password Page*/

#forgot-password-header-container{
    border-style: solid;
    text-align: center;
    position:absolute;
    width: 100%;
    height: 20%;
    top:0;

}

#forgot-password-content-container{
    border-style: solid;
    position:absolute;
    width: 100%;
    height: 80%;
    bottom: 0;
}

#forgot-password-main-content-container{
    border-color: blue;
    border-style: solid;
    margin-top: 12px;
    margin-bottom: 12px;
    position: relative;
    text-align: center;
    height: 50%;
}

#forgot-password-main-content-container input {
    margin-bottom: 3px;
}

#forgot-password-main-content-container label {
    margin-top: 12px;
}

#forgot-password-submit-content-container{
    border-color:red;
    border-style: solid;
    position: relative;
    text-align: center;
}